.container{
    margin: 20px;
  
}

.mr-3{
    width: 33vw;
    height: 50vw;
    border-radius: 4mm;
    
}

p{
    font-size: 1.5vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkgray;
    color: white;
    text-align: center;
}
