.container{
    margin: 100px;
}

p{
    padding-bottom: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkgray;
    color: white;
    text-align: center;
}

h6{
    margin: 10px;
}


@media screen and (max-width: 500px) {

    .container{
        width: 100%;
        margin: 0px;
    }

    .list-unstyled {
        margin:25px;

    }

    p{
        padding-bottom: 0px;
    }
    
    }