.container{
    padding-top: 15vw;
}

.card-text{
    margin: 2.0vw;
    text-align: center;

}

.btn-dark{

    margin-left: 60px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkgray;
    color: white;
    text-align: center;
}

h6{
    margin: 10px;
}

/* media queries for the cards */
@media screen and (max-width: 989px) {
    .card{
        width: 100%;
        margin-bottom: 40px;
        margin-left: 40px;
    }
}
