.h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 200px;
}


.wrapper {
  min-height: 100%;
  padding-bottom: 100px;
}


/* about */
#about {
  margin-top: 25px;
}

.aboutme {
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-right: 20px;
}

.abt {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.img {
  width: 15vw;
  height: 22vw;
  border-radius: 8mm;
  margin: 2vw;
}

.inconabt {
  text-align-last: right;
  margin-right: 50px;
}

/* contact */
#contact {
  margin-bottom: 50px;
}

.me,
.list-unstyled {
  text-align: center;
}

.icon {
  width: 100px;
  height: 100px;
}

/* portfolio */
.btn-dark {
  margin-left: 30px;
}
.employee {
  margin-left: 90px;
}
.port {
  padding: 5vw;
}

.card-text {
  margin: 2vw;
  text-align: center;
}

h6 {
  margin: 10px;
}

img {
  padding: 10px;
}

.card {
  margin-bottom: 5vw;
}

.card-title {
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 30%;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
  margin-top: 30px;
}

h6 {
  margin: 10px;
}

/* media queries for the cards on portfolio */
@media screen and (max-width: 989px) {
  .card {
    width: 100%;
    margin-bottom: 40px;
    margin-left: 60px;
  }

  .btn-dark {
    margin-top: 60px;
  }
}

/* media query for contact */
@media screen and (max-width: 989px) {
  #contact {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .list-unstyled {
    margin: 5px;
  }
}

.fab {
  color: white;
}

/* media queries for about */
@media screen and (max-width: 989px) {
  .media {
    width: 100%;
    height: 100%;
    margin-left: -25px;
    border-radius: 30px;
  }

  .img {
    width: 50%;
    height: 30%;
    margin-top: 50px;
    margin-left: 10px;
  }

  h2 {
    text-align: center;
  }

  #about {
    margin-left: 20px;
  }

  .aboutme {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    width: 70%;
    margin-bottom: 10px;
  }
}
